body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    position: relative;
    padding: 0%;
}

#navbar h1 {
    margin: 0;
}

#navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#navbar li {
    margin-right: 20px;
}
#navbar li a{
    text-decoration: none;
    color: white;
    font-size: large;
    color: #e6e6e6;
}
#navbar li a:visited{
    color: #e6e6e6;
}
#navbar li a:hover{
    color: #b3b3b3;
}
#navbar li a.active{
    font-weight: bold;
}
#connect-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#connect-button:hover {
    background-color: #0056b3;
}

#main-content {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
}
#main-content p{
 
 font-family: 'Courier New', Courier, monospace;
 font-size: 50px;


}
.animated-text {
    font-size: 24px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    animation: fadeInOut 5s ease-in-out infinite;
  }
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(10px);
    }
  }
